{% extends "layout/layout.html" %}
{% block content %}
<div class="chara-fixed chara-left about">
    <img src="img/BottomLeft_About.jpg" alt="Ken priebe character">
</div>
<div class="chara-fixed chara-right about">
    <img src="img/TopRight_About.jpg" alt="Ken priebe character">
</div>
<div class="about-container">
    <div class="about-left">
        <img src="/img/{{ about[0]['image'] }}" alt="ken priebe picture">
        <div class="email about-link">
            <div class="envelope">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
                     viewBox="0 0 14 14" xml:space="preserve">
                    <g>
                        <path style="fill:#FC363D;" d="M7,9L5.268,7.484l-4.952,4.245C0.496,11.896,0.739,12,1.007,12h11.986
                            c0.267,0,0.509-0.104,0.688-0.271L8.732,7.484L7,9z"/>
                        <path style="fill:#FC363D;" d="M13.684,2.271C13.504,2.103,13.262,2,12.993,2H1.007C0.74,2,0.498,2.104,0.318,2.273L7,8
                            L13.684,2.271z"/>
                        <polygon style="fill:#FC363D;" points="0,2.878 0,11.186 4.833,7.079 		"/>
                        <polygon style="fill:#FC363D;" points="9.167,7.079 14,11.186 14,2.875 		"/>
                    </g>
                </svg>
            </div>
            <a id="emailText" href="" class="email-text">Email me</a>
        </div>
    </div>
    <div class="news-btn">
        <p class="news-btn-text" href="">Read News!</p>
    </div>
    <div class="about-right">
        <p class="about-title">About me</p>
        <p class="about-text">{{ about[0]['about_me']|raw }}</p>
        <p class="about-title about-news" id="news">News!</p>
        <p class="about-text about-news">{{ about[0]['news']|raw }}</p>
    </div>
</div>
{% endblock %}