{% extends "layout/layout_admin.html" %}
{% block content %}
<div class="admin-head-wrap">
    <p class="display-3">Home</p>
    <a href="/home/edit" class="edit-icon-wrap btn">
        <p class="edit-text">Edit</p>
        <i class="fa fa-2x fa-pencil fa-inverse"></i>
    </a>
    <span class="admin-message">{{ message|raw }}</span>
</div>
<div class="about-container">
    <div class="about-left">
        <video id="homeVideo" class="home-video" playsinline autoPlay loop muted>
            <source src="/video/{{ home['video'] }}" type="video/mp4">
            Your browser dose not support the video tag
        </video>
    </div>
    <div class="about-right">
        <p class="welcome">{{ home['greeting_head'] }}</p>
        <p class="welcome-words">{{ home['greeting_sub_head'] }}</p>
        <h1 class="welcome-intro">{{ home['greeting_text'] }}</h1>
    </div>
</div>
{% endblock %}