{% extends "layout/layout.html" %}
{% block content %}
<div class="chara-fixed chara-left animation">
    <img src="img/BottomLeft_Animation.jpg" alt="Ken priebe character">
</div>
<div class="chara-fixed chara-right animation">
    <img src="img/TopRight_Animation.jpg" alt="Ken priebe character">
</div>
<div class="animation-container">
    <a data-fancybox href="https://vimeo.com/15383713" class="demoreel-box">
        <div class="play-icon-wrap">
            <img src="img/play-icon.svg" alt="ken animation">
        </div>
        <img src="img/demoreel_poster.jpg" alt="ken priebe demoreel">
    </a>
    <div class="demoreel-text">
        <div class="demoreel-text-inner-wrap">
            <div class="demoreel-title">Animation Reel</div>
            <div class="demoreel-desc">
                Animation Reel by Ken Priebe - excerpts from short films All the World, I’m Fast, Scaredy Squirrel and Scaredy Squirrel Makes a Friend, directed by Galen Fott, courtesy of Scholastic/Weston Woods and BigFott Studios.v
            </div>
        </div>
        <div class="btn">
            <a href="">View other videos</a>
        </div>
    </div>
</div>
<div class="animation-container">
    <div class="animation-card-wrap">
        <div class="animation-card-img">
            <img src="img/snot.jpg" alt="ken priebe animation">
        </div>
        <div class="animation-card-title">
            “The Gnome” from Picture at an Exhibition
        </div>
        <div class="animation-card-desc">
            Illustrations for a big-screen animatic produced by Adrian Wyard, performed with live orchestral accompaniment in concerts around the world.
        </div>
    </div>
    <div class="animation-card-wrap">
        <div class="animation-card-img">
            <img src="img/snot.jpg" alt="ken priebe animation">
        </div>
        <div class="animation-card-title">
            “The Gnome” from Picture at an Exhibition
        </div>
        <div class="animation-card-desc">
            Illustrations for a big-screen animatic produced by Adrian Wyard, performed with live orchestral accompaniment in concerts around the world.
        </div>
    </div>
    <div class="animation-card-wrap">
        <div class="animation-card-img">
            <img src="img/snot.jpg" alt="ken priebe animation">
        </div>
        <div class="animation-card-title">
            “The Gnome” from Picture at an Exhibition
        </div>
        <div class="animation-card-desc">
            Illustrations for a big-screen animatic produced by Adrian Wyard, performed with live orchestral accompaniment in concerts around the world.
        </div>
    </div>
    <div class="animation-card-wrap">
        <div class="animation-card-img">
            <img src="img/snot.jpg" alt="ken priebe animation">
        </div>
        <div class="animation-card-title">
            “The Gnome” from Picture at an Exhibition
        </div>
        <div class="animation-card-desc">
            Illustrations for a big-screen animatic produced by Adrian Wyard, performed with live orchestral accompaniment in concerts around the world.
        </div>
    </div>
</div>
<div class="animation-container">
    <div class="animation-card-wrap">
        <div class="animation-card-img">
            <img src="img/2014.jpg" alt="ken priebe animation">
        </div>
        <div class="animation-card-title">
            “The Gnome” from Picture at an Exhibition
        </div>
        <div class="animation-card-desc">
            Illustrations for a big-screen animatic produced by Adrian Wyard, performed with live orchestral accompaniment in concerts around the world.
        </div>
    </div>

</div>
{% endblock %}