{% extends "layout/layout.html" %}
{% block content %}
<div class="scroll-btn-container">
    <div class="scroll-btn-wrap up" id="scrollUp">
        <img src="img/up.svg" alt="ken priebe previous book">
    </div>
    <div class="scroll-btn-wrap down" id="scrollDown">
        <img src="img/down.svg" alt="ken priebe next book">
    </div>
</div>
<div class="chara-fixed chara-left books">
    <img src="img/BottomLeft_Books.jpg" alt="Ken priebe character">
</div>
<div class="chara-fixed chara-right books">
    <img src="img/TopRight_Books.jpg" alt="Ken priebe character">
</div>
<div id="fullpageBook">
        <div class="section">
        <div class="book-container">
            <div class="book-image">
                <img src="img/Gnomes_featured.jpg" alt="Gnomes of the Cheese Forest book image">
            </div>
            <div class="book-text">
                <p class="books-tag comming-soon">
                    Coming soon…
                </p>
                <h3 class="books-title">
                    Gnomes of the Cheese Forest and Other Poems
                </h3>
                <p class="books-desc">
                    Open this book and embark on a journey where gnomes sing cheese into existence, where witches, trolls and monsters lurk in every corner, and where fantasy and reality become a blur of whimsy and wonder. Discover the mysteries of the Cricket Watcher, the Smoggle-Wogg, and the Thing in Skegemog Lake, party at the Rock n’ Roll Pizza Palace, hear the epic tale of brave Professor Stitch-Wicket, and meet Sebastian J. Thrupp, the boy who looked up.
                    <br><br>
                    All of these characters and many more are found in this imaginative collection of poems and drawings, coming soon from author & illustrator Ken Priebe.
                </p>
                <div class="btn">
                    <a href="http://www.priebelieving.com/">Visit Blog</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="book-container">
            <div class="book-image">
                <img src="img/Advanced_featured.jpg" alt="Gnomes of the Cheese Forest book image">
            </div>
            <div class="book-text">
                <p class="books-tag">
                    2015 (OUT OF PRINT)
                </p>
                <h3 class="books-title">
                    The ADVANCED Art of Stop-Motion Animation
                </h3>
                <p class="books-desc">
                    Open this book and embark on a journey where gnomes sing cheese into existence, where witches, trolls and monsters lurk in every corner, and where fantasy and reality become a blur of whimsy and wonder. Discover the mysteries of the Cricket Watcher, the Smoggle-Wogg, and the Thing in Skegemog Lake, party at the Rock n’ Roll Pizza Palace, hear the epic tale of brave Professor Stitch-Wicket, and meet Sebastian J. Thrupp, the boy who looked up.
                    <br><br>
                    Hard-copy or e-book versions of this rare book can be searched for on eBay, Amazon or wherever used books are bought & sold.
                </p>
                <div class="btn">
                    <a href="http://www.priebelieving.com/">Order the Book</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="book-container">
            <div class="book-image">
                <img src="img/Advanced_featured.jpg" alt="Gnomes of the Cheese Forest book image">
            </div>
            <div class="book-text">
                <p class="books-tag">
                    2015 (OUT OF PRINT)
                </p>
                <h3 class="books-title">
                    The ADVANCED Art of Stop-Motion Animation
                </h3>
                <p class="books-desc">
                    Open this book and embark on a journey where gnomes sing cheese into existence, where witches, trolls and monsters lurk in every corner, and where fantasy and reality become a blur of whimsy and wonder. Discover the mysteries of the Cricket Watcher, the Smoggle-Wogg, and the Thing in Skegemog Lake, party at the Rock n’ Roll Pizza Palace, hear the epic tale of brave Professor Stitch-Wicket, and meet Sebastian J. Thrupp, the boy who looked up.
                    <br><br>
                    Hard-copy or e-book versions of this rare book can be searched for on eBay, Amazon or wherever used books are bought & sold.
                </p>
                <div class="btn">
                    <a href="http://www.priebelieving.com/">Order the Book</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}