{% extends "layout/layout.html" %}
{% block content %}
    <div class="draw-container">
        <div class="chara-wrap">
            <a
                data-fancybox="gallery"
                href="img/ken_characters/Gnome.jpg"
                data-caption="Singing Gnome"
                data-width="600"
                data-height="600"
                class="char-img"
            >
                <img src="img/ken_characters/Gnome.jpg" alt="Ken priebe gnome character">
            </a>
            <p class="chara-caption">Singing Gnome</p>
        </div>
        <div class="chara-wrap">
            <a
                data-fancybox="gallery"
                href="img/ken_characters/ink1.jpg"
                data-caption="Singing Gnome"
                data-width="600"
                data-height="600"
                class="char-img"
            >
                <img src="img/ken_characters/ink1.jpg" alt="Ken priebe gnome character">
            </a>
            <p class="chara-caption">Singing Gnome</p>
        </div>
        <div class="chara-wrap">
            <a
                data-fancybox="gallery"
                href="img/ken_characters/ink2.jpg"
                data-caption="Singing Gnome"
                data-width="600"
                data-height="600"
                class="char-img"
            >
                <img src="img/ken_characters/ink2.jpg" alt="Ken priebe gnome character">
            </a>
            <p class="chara-caption">Singing Gnome</p>
        </div>
         <div class="chara-wrap">
             <a
                 data-fancybox="gallery"
                 href="img/ken_characters/ink3.jpg"
                 data-caption="Singing Gnome"
                 data-width="600"
                 data-height="600"
                 class="char-img"
             >
                 <img src="img/ken_characters/ink3.jpg" alt="Ken priebe gnome character">
             </a>
             <p class="chara-caption">Singing Gnome</p>
         </div>
         <div class="chara-wrap">
             <a
                 data-fancybox="gallery"
                 href="img/ken_characters/ink4.jpg"
                 data-caption="Singing Gnome"
                 data-width="600"
                 data-height="600"
                 class="char-img"
             >
                 <img src="img/ken_characters/ink4.jpg" alt="Ken priebe gnome character">
             </a>
             <p class="chara-caption">Singing Gnome</p>
         </div>


    </div>
{% endblock %}